{% extends "master.html.twig" %}

{% block title %}Question deletion successful{% endblock %}

{% block content %}

    Product deleted. <a href="/quetions/question_list">Click to continue</a>
    
{% endblock %}