<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <title>PHP QUIZZER</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header>
            <div class="container">
                <h1>php quizzer</h1>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>test your php knowledge</h2>
                <p>this is a choice quizz to test your knowledge</p>
                <ul>
                    <li><strong>number of question: </strong>{{countQ.count}}</li>
                    <li><strong>Type: </strong>5</li>
                    <li><strong>Estimated time: </strong><?php echo $total * .5 ; ?> min</li>
                </ul>
                <a href="question.php?num=1" class="start">Start quizz</a>
            </div>
        </main>
        <footer>
             <div class="container">
                 <h2>copyright &copy; 2014, php quizzer</h2>
            </div>
        </footer>
        <?php
        // put your code here
        ?>
    </body>
</html>