{% extends "master.html.twig" %}

{% block title %}Add student{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        First Name: <input type="text" name="firstName" value="{{v.firstName}}"><br>
        Last Name: <input type="text" name="lastName" value="{{v.lastName}}"><br>
        Email: <input type="email" name="email" value="{{v.email}}"><br>
        Gender: <input type="checkbox" name="gender" {# TODO checked #}><br>
        Image: <input type="file" name="image"><br>
        {% if v.imagePath %}
            <img width="50" src="/{{v.imagePath}}">
        {% endif %}
        <input type="submit" value="add student">
    </form>
{% endblock %}
