{% extends "master.html.twig" %}

{% block title %}Subject deletion successful{% endblock %}

{% block content %}

    Product deleted. <a href="/subject/subject_list">Click to continue</a>
    
{% endblock %}